<div pRipple class="shadow-4 border-round-lg">
  <p-card header="Calories">
    <div class="flex flex-column">
      <div class="flex justify-content-around align-items-center">
        <div class="p-knob-container">
          <p-knob
            [(ngModel)]="currentCaloriesKnobValue"
            [readonly]="true"
            [max]="goalCalories"
            [size]="200"
            [showValue]="false"
            [valueColor]="knobValueColor"
            [rangeColor]="knobRangeColor"
          ></p-knob>
          <img
            src="assets/images/fire.svg"
            alt="Fire Icon"
            width="40"
            class="burned-calories-icon"
            *ngIf="shouldSubtractBurnedCalories"
          />
          <p class="knob-value">{{ currentCaloriesKnobValue }}</p>
          <p class="additional-value">
            <span
              [class.under-zero]="differenceCalories < 0"
              [class.over-goal]="differenceCalories > 0"
            >
              <span *ngIf="differenceCalories > 0">+</span>
              {{ differenceCalories }}
            </span>
          </p>
        </div>

        <!-- Additional Info -->
        <div class="flex flex-column gap-4">
          <!-- Goal -->
          <div class="flex gap-2">
            <img src="assets/images/goal.svg" alt="Goal Icon" width="40" />
            <div class="flex flex-column">
              <p class="title">Goal</p>
              <p class="value">{{ goalCalories }} cal</p>
            </div>
          </div>

          <!-- Exercise -->
          <div class="flex gap-2" (click)="onBurnedCaloriesClick()">
            <img src="assets/images/fire.svg" alt="Fire Icon" width="40" />
            <div class="flex flex-column">
              <p class="title">Exercise</p>
              <p class="value">{{ burnedCalories }} cal</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
