<div pRipple class="shadow-4 border-round-lg">
  <p-card header="Calories">
    <div class="flex flex-column">
      <div
        class="flex flex-wrap justify-content-around align-items-center gap-2 sm:gap-4"
      >
        <div class="p-knob-container">
          <p-knob
            [(ngModel)]="currentCaloriesKnobValue"
            [readonly]="true"
            [max]="goalCalories"
            [size]="200"
            [showValue]="false"
            [valueColor]="knobValueColor"
            [rangeColor]="knobRangeColor"
          ></p-knob>

          <div
            svgIconDirective
            [name]="icons.PLUS"
            width="40"
            color="var(--red-400)"
            class="plus-icon"
            *ngIf="currentCalories > goalCalories"
          ></div>

          <p class="knob-value">{{ currentCalories }}</p>
        </div>

        <!-- Additional Info -->
        <div class="flex flex-column gap-4">
          <!-- Goal Calories -->
          <div class="flex gap-2">
            <div
              svgIconDirective
              [name]="icons.GOAL"
              width="40"
              color="var(--green-500)"
            ></div>
            <div class="flex flex-column">
              <p class="title">Goal</p>
              <p class="value">{{ goalCalories }} cal</p>
            </div>
          </div>

          <!-- Total Calories-->
          <div class="flex gap-2">
            <div
              svgIconDirective
              [name]="icons.CUTLERY"
              width="40"
              color="var(--blue-600)"
            ></div>
            <div class="flex flex-column">
              <p class="title">Total</p>
              <p class="value">{{ totalCalories }} cal</p>
            </div>
          </div>

          <!-- Burned Calories -->
          <div class="flex gap-2" (click)="onBurnedCaloriesClick()">
            <div
              svgIconDirective
              [name]="icons.FIRE"
              width="40"
              color="var(--orange-500)"
            ></div>

            <div class="flex flex-column">
              <p class="title">Burned</p>
              <p class="value">{{ burnedCalories }} cal</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
