.fieldset-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -20px;

  .control-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .start {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nutrition-title {
        font-size: large;
      }
    }
  }
}
