<div
  class="flex flex-column flex-wrap gap-4 md:justify-content-center md:align-items-center lg:flex-row"
>
  <tracker-calories></tracker-calories>

  <p-card header="Macros">
    <div class="card flex justify-content-center">
      <p-chart type="polarArea" [data]="data" [options]="options"></p-chart>
    </div>
  </p-card>

  <p-card header="Macros">
    <div class="card flex justify-content-center">
      <p-chart type="radar" [data]="data" [options]="options"></p-chart>
    </div>
  </p-card>
</div>
