<!-- <router-outlet></router-outlet> -->

<button (click)="switchTheme('bootstrap4-dark-blue')">
  bootstrap4-dark-blue
</button>
<button (click)="switchTheme('bootstrap4-dark-purple')">
  bootstrap4-dark-purple
</button>
<button (click)="switchTheme('bootstrap4-light-blue')">
  bootstrap4-light-blue
</button>
<button (click)="switchTheme('bootstrap4-light-purple')">
  bootstrap4-light-purple
</button>

<div class="shadow-3">
  <p-card header="Food Tracker" class="text-center">
    <ng-template pTemplate="header">
      <img alt="Food Tracker Logo" src="assets/images/food-tracker-logo.svg" />
    </ng-template>
  </p-card>
</div>
